@font-face {
    font-family: BrunoAce;
    src: url('assets/Nunito-VariableFont_wght.ttf');
}

html{
    background-image: url("assets/mainBG.jpg");
    background-size: cover;
    height: 100vh;
    font-family: 'BrunoAce';
}

form{   
    background-color: rgba(51, 51, 51, 0.227);
    backdrop-filter: blur(7px) brightness(1.2);
    margin: auto;
    width: fit-content;
    width:min-content;
    margin-top: 7em;
    display: grid;
    padding: 3em;
    border-radius: 1em;
    outline: 0.2em rgb(249, 170, 0) solid;
}      

input{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background:linear-gradient(to right, rgba(255, 145, 28, 0.519) 50%, rgba(0, 0, 0, 0) 50%);
    background-position: right;
    border-style: none;
    border-right: 0.2em rgb(0, 0, 0) solid;
    background-size: 200% 100%;
    font-family: 'BrunoAce';
    border-radius: 0.1em;
}

form > *{
    color:beige;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus{
    display: none;
}

#title{
    text-align: center;
    margin-top: 0px;
}

input:focus{
    transition:all 0.5s ease;
    background-position: left;
    outline: none;
}

#input:active{
    transition:all 0.5s ease;
    background-position: left;
    outline: none;
}

#sub{
    background:linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%);
    border: none;
    transition: 0.5s;
}

#sub:hover{
    cursor: pointer;
    color:rgb(249, 170, 0);
    scale: 1.15;
}

div{
    display: none;
}

span{
    letter-spacing: 1em;
}

a{
    letter-spacing: normal;
    color: rgba(0, 145, 255, 1);
}

a:visited{
    color: rgba(0, 145, 255, 1);
}


#registerd{
    display: none;
    background-color: rgba(51, 51, 51, 0.227);
    backdrop-filter: blur(10px) brightness(1.2);
    margin: auto;
    width: fit-content;
    width:max-content;
    padding: 1em;
    border-radius: 1em;
    outline: 0.2em rgb(6, 237, 48) solid;
    position: absolute;
    top: 1em;
    color:beige;
}


@media screen and (min-width:240px) {     

    input{
        font-size: 130%;
    }

    #title{
        font-size: 375%;
    }
}

@media screen and (min-width:768px) {

    input{
        font-size: 175%;
    }

    #title{
        font-size: 250%;
    }

}

@media screen and (min-width:1068px) {

    input{
        font-size: 225%;
    }

    #title{
        font-size: 500%;
    }

    
}